/**
* Main CSS file built on SASS
*/
@import "typography";

html,
body {
	border: 0;
	margin: 0;
	padding: 0;
	font-color: #3B424A;
	font-family: "uni-heavy", "courier", "serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	text-transform: uppercase;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

a:visited,
a:active,
a:link {
	color: inherit;
	text-decoration: none;
};

#app {
	margin: 0 auto;
	max-width: 1200px;
}

#app-header {
	margin: 0;
	position: fixed;
	top: 0; right: 0; left: 0;
	width: 100%;
	h1 {
		margin: 0;
	}
	nav {
		text-align: center;
		margin: 0 auto;
		a {
			display: inline-block;
			padding: 5px 20px;
		}
		a:hover {
			color: #E35145
		}
	}
}

#app-main {
	width: 100%;
	margin: 100px 0 0 0;
}

#app-footer {
	width: 100%;
}

.container {}

.header {
	box-sizing: border-box;
	padding: 5px 0;
}

.main {}

.footer {}

.module {
	margin: 50px 0;
	h1,
	h2,
	h3 {
		margin: 40px 0;
	}
}

.component {
	margin: 50px 0;
	transition: 1s;
	h1,
	h2,
	h3 {
		margin: 40px 0;
	}
}

.json {}

#query-json{
	width: 100%;
	.json {
		width: 100%; 
	}
	h2 {
		color: #56E4FF;
		font-weight: 900;
		font-size: 100px;
		font-family: "uni-heavy-italic";
	}
	label {
		display: none;
	}
	textarea {
		border: 1px solid black;
		box-sizing: border-box;
		height: 150px;
		font-family: "avantgarde-medium", "courier", "serif" !important;
		font-size: 20px;
		font-style: italic;
		font-weight: 100;
		margin: 0;
		outline: none;
		padding: 15px;
		resize: vertical;
		width: 100%;
	}
	select,
	button {
		border: 1px solid black;
		border-radius: 0;
		background: white;
		-webkit-appearance: none;
		box-sizing: border-box;
		padding: 5px;
		font-family: "avantgarde-medium", "courier", "serif" !important;
	}
}

#json {
	font-family: "courier";
	box-sizing: border-box;
	padding: 30px 60px;
	li {
		list-style-type: none;
		padding: 5px 0;
		word-wrap: break-word;
	}
	li:not(:last-child):not(:first-child) {
		padding-left: 50px;
	}
}