/**
* Main CSS file built on SASS
*/
@import url("typography.css");

.module {}

.component {}

.json {}

#query-json{
	.json {
		background: #E8E8E8;
		width: 100%; 
	}
}

#json {
	li {
		list-style-type: none;
		padding-left: 50px;
	}
	li:first-child,
	li:last-child {
		padding-left: 0px;
	}
}