/**
* Main CSS file built on SASS
*/
/**
* Typography
*/
@font-face {
  font-family: "futurastd-bold";
  src: url("./assets/fonts/FuturaStd-Bold.otf") format("opentype"); }
@font-face {
  font-family: "futurastd-medium";
  src: url("./assets/fonts/FuturaStd-Medium.otf") format("opentype"); }
@font-face {
  font-family: "futurastd-book";
  src: url("./assets/fonts/FuturaStd-Book.otf") format("opentype"); }
@font-face {
  font-family: "futurastd-light";
  src: url("./../assets/fonts/FuturaStd-Light.otf") format("opentype"); }
@font-face {
  font-family: "avantgarde-book";
  src: url("./../assets/fonts/avantgarde/ITCAvantGardeStd-Bk.otf") format("opentype"); }
@font-face {
  font-family: "avantgarde-medium";
  src: url("./../assets/fonts/avantgarde/ITCAvantGardeStd-Md.otf") format("opentype"); }
@font-face {
  font-family: "avantgarde-bold";
  src: url("./../assets/fonts/avantgarde/ITCAvantGardeStd-Bold.otf") format("opentype"); }
@font-face {
  font-family: "avantgarde-light";
  src: url("./../assets/fonts/avantgarde/ITCAvantGardeStd-XTl.otf") format("opentype"); }
@font-face {
  font-family: "uni-heavy-italic";
  src: url("./../assets/fonts/uni/Uni-Sans-Heavy-Italic.otf") format("opentype"); }
@font-face {
  font-family: "uni-heavy";
  src: url("./../assets/fonts/uni/Uni-Sans-Heavy.otf") format("opentype"); }
@font-face {
  font-family: "uni-thin-italic";
  src: url("./../assets/fonts/uni/Uni-Sans-Thin-Italic.otf") format("opentype"); }
@font-face {
  font-family: "uni-thin";
  src: url("./../assets/fonts/uni/Uni-Sans-Thin.otf") format("opentype"); }
html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  font-color: #3B424A;
  font-family: "uni-heavy", "courier", "serif"; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: uppercase; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 30px; }

a:visited,
a:active,
a:link {
  color: inherit;
  text-decoration: none; }

#app {
  margin: 0 auto;
  max-width: 1200px; }

#app-header {
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%; }
  #app-header h1 {
    margin: 0; }
  #app-header nav {
    text-align: center;
    margin: 0 auto; }
    #app-header nav a {
      display: inline-block;
      padding: 5px 20px; }
    #app-header nav a:hover {
      color: #E35145; }

#app-main {
  width: 100%;
  margin: 100px 0 0 0; }

#app-footer {
  width: 100%; }

.header {
  box-sizing: border-box;
  padding: 5px 0; }

.module {
  margin: 50px 0; }
  .module h1,
  .module h2,
  .module h3 {
    margin: 40px 0; }

.component {
  margin: 50px 0;
  transition: 1s; }
  .component h1,
  .component h2,
  .component h3 {
    margin: 40px 0; }

#query-json {
  width: 100%; }
  #query-json .json {
    width: 100%; }
  #query-json h2 {
    color: #56E4FF;
    font-weight: 900;
    font-size: 100px;
    font-family: "uni-heavy-italic"; }
  #query-json label {
    display: none; }
  #query-json textarea {
    border: 1px solid black;
    box-sizing: border-box;
    height: 150px;
    font-family: "avantgarde-medium", "courier", "serif" !important;
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
    outline: none;
    padding: 15px;
    resize: vertical;
    width: 100%; }
  #query-json select,
  #query-json button {
    border: 1px solid black;
    border-radius: 0;
    background: white;
    -webkit-appearance: none;
    box-sizing: border-box;
    padding: 5px;
    font-family: "avantgarde-medium", "courier", "serif" !important; }

#json {
  font-family: "courier";
  box-sizing: border-box;
  padding: 30px 60px; }
  #json li {
    list-style-type: none;
    padding: 5px 0;
    word-wrap: break-word; }
  #json li:not(:last-child):not(:first-child) {
    padding-left: 50px; }

/*# sourceMappingURL=main.css.map */
