/**
* Main CSS file built on SASS
*/
@import "typography";

html,
body {
	border: 0;
	margin: 0;
	padding: 0;
	font-color: #3B424A;
	font-family: "uni-heavy", "courier", "serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	text-transform: uppercase;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

label {
	display: none;
}

button {
	text-transform: uppercase;
}

a:visited,
a:active,
a:link {
	color: inherit;
	text-decoration: none;
};

#app {
	margin: 0 auto;
	max-width: 1200px;
}

#app-header {
	margin: 0;
	width: 100%;
	h1 {
		margin: 0;
	}
	nav {
		margin: 0 auto;
		text-align: center;
		a {
			color: #7A8898;
			display: inline-block;
			opacity: 0.25;
			padding: 5px 20px;
			transition: 0.5s ease;
		}
		a:hover {
			color: #CB483D;
			opacity: 1;
			transition: 0.5s ease;
		}
	}
}

#app-main {
	width: 100%;
	margin: 20px 0;
}

#app-footer {
	width: 100%;
}

.container {}

.header {
	box-sizing: border-box;
	padding: 5px 0;
}

.main {}

.footer {}

.component,
.module {
	header {
		width: 100%;
		h2 {
			display: inline-block
		}
		div {
			display: inline-block;
			margin-left: 40px;
			text-align: left;
		}
		p {
			padding: 0;
			margin: 5px 0;
			font-family: "avantgarde-medium";
		}
	}
}

.module {
	margin: 50px 0;
	h1,
	h2,
	h3 {
		margin: 20px 0;
	}
}

#dashboard {
	box-sizing: border-box;
	ul {
		margin: 0 auto;
		text-align: center;
	}
	li {
		font-weight: 900;
		font-size: 80px;
		font-family: "uni-heavy-italic";
		list-style-type: none;
		transition: 0.5s ease;
	}
	li:first-child {
		color: #56E4FF;
	}
	li:nth-child(2) {
		color: #36B1B1;
	}
	li:nth-child(3) {
		color: #FFB796;
	}
	li:nth-child(4) {
		color: #3D80CB;
	}
	li:nth-child(5) {
		color: #59FFA1;
	}
	li:nth-child(6) {
		color: #B15824;
	}
	li:nth-child(7) {
		color: #C858FD;
	}
}

#json {
	font-family: "courier";
	box-sizing: border-box;
	overflow-x: auto;
	padding: 25px 50px;
	li {
		list-style-type: none;
		padding: 5px 0;
	}
	li:not(:last-child):not(:first-child) {
		padding-left: 50px;
	}
	.key,
	.value {
		box-sizing: border-box;
		padding: 5px;
	}
	.key {
		color: #902499;
	}
	.value {
		color: #C41A16;
	}
	.match {
		background: #D2FDEA;
	}
	.diff {
		background: #CBBAB9;
	}
}

.json {
	width: 100%; 
}

#traces {
	box-sizing: border-box;
	margin-top: 20px;
	word-wrap: break-word;
	width: 100%;
	li {
		cursor: pointer;
		font-family: "avantgarde-light", "courier", "serif" !important;
		font-size: 20px;
		list-style-type: decimal;
		padding: 10px 0;
	}
}

.traces {}

#uri-dencoder {
	header {
		color: #3D80CB;
	}
}

#json-query {
	header {
		color: #36B1B1;
	}
}

#juxtapose {
	header {
		color: #59FFA1;
	}
}

#clipboard {
	font-family: "avantgarde-book", "courier", "serif" !important;
	header {
		color: #B15824;
	}
	.clips {
		box-sizing: border-box;
		vertical-align: top;
		min-height: 486px;
		display: inline-block;
		width: 70%;
		padding: 10px;
		background: #FFF7F0;
		article {
			cursor: pointer;
			box-sizing: border-box;
			padding: 10px 0;
			overflow-x: scroll;
		}
	}
	form[name='clipboard'] {
		display: inline-block;
		width: 25%;
		padding-left: 30px;
	}
	button[name='clear'] {
		float: right;
	}
	textarea {
		height: 400px;
	}
	h4 {
		margin: 0 !important;
		padding: 5px 0 !important;
		text-transform: uppercase;
		text-decoration: underline;
	}
	p {
		margin: 0 !important;
		padding: 0 !important;
	}
	input {
		border-top: 1px solid #999999;
		border-left: 1px solid #999999;
		border-right: 1px solid #999999;
		border-bottom: none;
		margin: 0;
	}
}

.processed-uri,
.query {
	margin-top: 20px;
	font-family: "avantgarde-light", "courier", "serif" !important;
	font-size: 20px;
	padding: 5px 0;
	word-wrap: break-word;
}

#query-json {
	header {
		color: #56E4FF;
	}
	.pipe {
		float: right;
	}
}

#redirect-trace {
	header {
		color: #FFB796;
	}
}

#unix {
	header {
		color: #C858FD; 
	}
	.datetime {
		margin-top: 20px;
		font-family: "avantgarde-light", "courier", "serif" !important;
		font-size: 20px;
		padding: 5px 0;
		word-wrap: break-word;
	}
}

.left-output,
.right-output {
	width: 50%;
	overflow-x: auto;
}

.left-output {
	float: left;
}

.right-output {
	float: right;
}

.component {
	width: 100%;
	h1,
	h2,
	h3 {
		margin: 20px 0;
	}
	h2 {
		font-weight: 900;
		font-size: 80px;
		font-family: "uni-heavy-italic";
	}
	textarea {
		box-sizing: border-box;
		height: 225px;
		font-family: "avantgarde-medium", "courier", "serif" !important;
		font-size: 20px;
		font-style: italic;
		font-weight: 100;
		margin: 0;
		outline: none;
		padding: 15px;
		resize: vertical;
		width: 100%;
	}
	input {
		border: 1px solid #999999;
		width: 100%;
		font-family: "avantgarde-medium", "courier", "serif" !important;
		font-size: 20px;
		padding: 15px;
		box-sizing: border-box;
		margin: 0 0 5px 0;
		outline: none;
	}
	select,
	button {
		border: 1px solid #999999;
		border-radius: 0;
		background: white;
		-webkit-appearance: none;
		box-sizing: border-box;
		padding: 5px;
		font-family: "avantgarde-medium", "courier", "serif" !important;
	}
	option {
		font-size: 20px;
	}
}

.show-block {
	display: block !important;
}

.show-inline-block {
	display: inline-block !important;
}

.hide {
	display: none !important;
}

.shake-pulse {
	-webkit-animation: shake 0.75s ease;
	animation: shake 0.75s ease;
}

.force-link-hover {
	color: #CB483D !important;
	opacity: 1 !important;
}

@-webkit-keyframes shake {
	0%, 20%, 40%, 60%, 80% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

@keyframes shake {
	0%, 20%, 40%, 60%, 80% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}
