/**
* Typography
*/
@font-face {
	font-family: "futurastd-bold";
	src: url("./assets/fonts/FuturaStd-Bold.otf") format("opentype");
}

@font-face {
	font-family: "futurastd-medium";
	src: url("./assets/fonts/FuturaStd-Medium.otf") format("opentype");
}

@font-face {
	font-family: "futurastd-book";
	src: url("./assets/fonts/FuturaStd-Book.otf") format("opentype");
}

@font-face {
	font-family: "futurastd-light";
	src: url("./assets/fonts/FuturaStd-Light.otf") format("opentype");
}

@font-face {
	font-family: "avantgarde-book";
	src: url("./assets/fonts/avantgarde/ITCAvantGardeStd-Bk.otf") format("opentype");
}

@font-face {
	font-family: "avantgarde-medium";
	src: url("./assets/fonts/avantgarde/ITCAvantGardeStd-Md.otf") format("opentype");
}

@font-face {
	font-family: "avantgarde-bold";
	src: url("./assets/fonts/avantgarde/ITCAvantGardeStd-Bold.otf") format("opentype");
}

@font-face {
	font-family: "avantgarde-light";
	src: url("./assets/fonts/avantgarde/ITCAvantGardeStd-XTl.otf") format("opentype");
}