<!-- Clipboard Component -->
<header>
	<h2>Clipboard</h2>
</header>
<ul class="clips">
	<% for (var key in obj) { %>
		<li>
			<h4><%= key %></h4>
			<p><%= obj[key] %></p>
		</li>
	<% } %>
</ul>
<form name="clipboard">
	<label for="clipboard-title">Clips</label>
	<input id="clipboard-title" class="text-input" placeholder="Title" />
	<label for="clipboard-clip">Clips</label>
	<textarea id="clipboard-clip" class="text-input"></textarea>
	<button type="submit">Save</button>
	<button type="button" name="clear">Clear All</button>
</form>