<!-- Query -> JSON -->
<header>
	<h2>Query &#187; JSON</h2>
</header>
<form name="query-json">
	<label for="query">Query</label>
	<textarea id="query" class="text-input"><%= query %></textarea>
	<label for="uri-decode">Decode URI?</label>
	Decode URI?
	<select id="uri-decode" name="uri-decode">
		<option value="yes">Yes</option>
		<option value="no">No</option>
	</select>
	<button type="submit">Convert</button>
	<button name="clear" type="reset">Clear</button>
	<div class="pipe">
		<button class="hide" type="button" name="juxtaposeOne">Pipe Juxtapose Input One</button>
		<button class="hide" type="button" name="juxtaposeTwo">Pipe Juxtapose Input Two</button>
	</div>
</form>
<div class="json"></div>
